/*
 * footer
 * Style the footer's text and contents in here
 * To adjust how the footer fits in with the rest of the
 * pieces of the app, see the scaffolding file
 *
 */

footer
  color $lightTextColor
  font-size 12px
  position relative

  div
    display flex

  .copyright
    flex 1

  .mega-octicon
    color #bbb
    position absolute
    left 47%
    top 23px
    font-size 25px

  ul
    display flex
    align-self flex-end

    li
      margin-left 35px

      a
        color $lightTextColor

        &:hover
          color $lightTextColor
          text-decoration underline
