<span class='copyright'>
  © Gistbook 2014
</span>
<span class='mega-octicon octicon-book'></span>
<ul class='footer-nav'>
  <li><a href='/terms'>Terms</a></li>
  <li><a href='/about'>About</a></li>
  <li><a href='/contact'>Contact</a></li>
</ul>
