<div class='left-menu-buttons'>
  <button class='save-gist hide'>
    <span class='octicon octicon-cloud-upload'></span>
    Save Gistbook
  </button>
  <button class='delete-gist danger hide'>
    <span class='octicon octicon-trashcan'></span>
    Delete
  </button>
</div>
<div class='right-menu-buttons'>
  <div class='compound-button compound-fork-gist hide'>
    <button class='fork-gist'>
      <span class='octicon octicon-git-branch'></span>
      Fork
    </button>
    <span class='button-count fork-count'>
      0
    </span>
  </div>
</div>

