.gist-menu-container-view
  display flex

  .left-menu-buttons,
  .right-menu-buttons
    display flex

  .right-menu-buttons
    flex 1
    justify-content flex-end

  .compound-fork-gist
    align-self flex-end
