<ul>
  <li><a href='#' class='gistblock-write active-tab'>{{{ sourceTabText }}}</a></li>
  <li><a href='#' class='gistblock-preview'>Preview</a></li>
</ul>
<div class='gistblock-content'></div>
<div class='button-container'>
  <button class='gistblock-cancel'>Cancel</button>
  <button class='gistblock-update blue'>Update</button>
</div>
