.gistbook
  mediumShadow()
  border none
  border-radius 4px
  width   100%
  margin  0 auto
  line-height 1.6
  background #fff
  overflow hidden

  a i
    text-decoration none

  .gistbook-header
    padding 12px 30px
    background #9699bc
    border-bottom 1px solid #747796

.gistbook-output-wrapper
  border-top 1px solid #ddd
  padding 20px
  position relative

  .gistbook-output
    background #fff
