.gistbook-list-view

  .gistbook-title
    margin-right 30px
    display flex
    
    .title-container
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
    
    .secret-container
      margin 0 15px 0 5px
    
    .secret
      font-size 11px
      text-transform uppercase
      color #a1882b
      background-color #f8eec7
      border-radius 3px
      padding 3px 6px 2px
