<li class='gistbook-list'>
  <div class='gistbook-title'>
    <span class='octicon octicon-book'></span>
    <a href='/{{ username }}/{{ id }}'>{{ description }}</a>
  </div>
  <ul>
    <li>
      <span class='octicon octicon-trashcan hide'></span>
    </li>
  </ul>
</li>
