.modal-container
  display none

  &.show
    display block

.modal-wrapper
  position fixed
  width 100%
  height 100%
  top 15%
  left 0
  z-index 1000

  .modal-window
    position relative
    z-index 3000
    background #fff
    width 450px
    min-height 130px
    border 1px solid $borderColor
    box-shadow 1px 1px 5px rgba(0,0,0,.2);
    margin 0 auto

  .modal-overlay
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    z-index 2000
