<button class='star-gist'>
  <span class='octicon octicon-star'></span>
  Star
</button>
<button class='fork-gist'>
  <span class='octicon octicon-git-branch'></span>
  Fork
</button>
<button class='save-gist'>
  <span class='octicon octicon-cloud-upload'></span>
  Save Changes
</button>
