<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Gistbook</title>
  <link rel='stylesheet' href='/style.css'>
  <script src='//localhost:35729/livereload.js'></script>
</head>
<body>
  {{{ yield }}}
  <script>
  {{#authorized}}
    var _initData = {
      rateMax: {{ rateMax }},
      rateLeft: {{ rateLeft }},
      rateReset: {{ rateReset }},
      env: '{{ env }}',
      user: {{{ user }}}
    };
  {{/authorized}}
  {{^authorized}}
    var _initData = {
      env: '{{ env }}'
    };
  {{/authorized}}
  </script>
  <script src='/script.js'></script>
</body>
</html>
