.modal-title
  margin 20px
  font-size 20px
  display flex
  justify-content center
  align-items center

  .modal-title-text
    flex 1

  .close
    color $lightTextColor
    cursor pointer
    align-self flex-end

.modal-body
  padding 10px 20px

  p
    margin-bottom 10px

    &:last-child
      margin 0

    a
      color $hoverLinkColor

.modal-button
  margin 20px 20px 10px
  width 410px

.modal .notification
  border-radius 0
  border-left 0
  border-right 0
  padding-left 20px
  padding-right 20px
