<div class='gistbook-menu-container'>
  <ul>
    <li class='gistblock-move'>
      <i class='octicon octicon-three-bars'></i>
    </li>
    <li class='gistblock-edit'>
      <i class='octicon octicon-pencil'></i>
    </li>
    <li class='gistblock-delete'>
      <i class='octicon octicon-trashcan'></i>
    </li>
  </ul>
</div>
<div class='gistblock-content'></div>
