.gistblock-menu
  display flex
  padding-right 40px

  &:hover
    
    .gistbook-menu-container ul
      visibility visible

  .gistblock-content
    flex 1
  
  .gistbook-menu-container
    width 35px
    margin-right 5px

  ul
    visibility hidden
    height 100%
    background #eee

    li
      cursor pointer
      color #666
      height 30px
      width 35px
      line-height 30px
      text-align center

      &:hover
        opacity 1
