<div class='gist-header'>
  <div class='gist-title'>
    <div class='gist-description'><%- description %></div>
    <div class='author'>
      by <a href='/<%- owner.login %>'><%- owner.login %></a>
    </div>
  </div>
  <div class='gist-menu-container'></div>
</div>
<div class='gistbook-container'></div>
