.home
  width 800px
  margin 0 auto

  .gist-header
    display flex
    margin-bottom 35px

  .gist-menu-container
    flex 1

    .compound-button
      margin-right 10px
      &:last-child
        margin-right 0

      button, .button
        margin-right 0

    button, .button
      margin-right 10px

      &:last-child
        margin-right 0
