.home
  width 800px
  margin 0 auto

  .gist-header
    display flex
    margin-bottom 35px

  .gist-menu-container
    align-self flex-end

    button
      margin-right 10px

      &:last-child
        margin-right 0
