.home
  width 800px
  margin 0 auto

  .gist-title
    flex 1

  .gist-description
    font-size 24px
    font-weight 200
    margin-bottom 5px

  .gist-header
    display flex
    margin-bottom 35px

  .author
    font-size 14px
    color $lightTextColor
    
    a
      color $lightTextColor
      text-decoration underline

  .gist-menu-container
    align-self flex-end

    button
      margin-right 10px

      &:last-child
        margin-right 0
