.terms-of-service
  width 75%
  
  h1, h2
    color #333

  h1
    font-size 20px
    font-weight 200
    margin-bottom 15px
  
  h2
    font-size 15px
    font-weight bold
    margin 30px 0 8px

  p
    font-size 13px
    margin-bottom 10px
