.error-rate-limit
  margin-top 60px
  text-align center

  h1
    color $lightTextColor
    font-size 40px
    font-weight 200
    margin-bottom 30px

  p
    font-size 21px
    line-height 1.3em
    
  .time-left,
  .time-left span
    font-weight bold
