.menu nav
  ul
    list-style none
    display flex

  .menu-icon
    cursor pointer
    color $mediumTextColor

  li
    display flex
    align-items center
    margin-right 20px

    &:last-child
      margin-right 0

  li.new-button
    margin-right 30px

  li.profile-link

    a
      font-weight bold

    img
      border-radius 3px
      vertical-align middle
      margin-right 2px
