<p class='about'>
  Gistbook is the easiest way to create interactive
  <br>
  code snippets in the browser.
</p>
<div class='about-container'>
  <div class='creator'>
    <a href='http://www.github.com/jmeas' target='_blank'>
      <img src='/img/jmeas.jpg' alt='Jmeas'>
      <br>
      <span>
        Created by Jmeas
      </span>
    </a>
  </div>
  <div class='sponsor'>
    <a href='http://www.bocoup.com' target='_blank'>
      <img src='/img/bocoup.png' alt='Bocoup'>
      <br>
      <span>
        Sponsored by Bocoup
      </span>
    </a>
  </div>
</div>
<div class='open-source'>
  <p>
    The source of Gistbook is available under the MIT license.
  </p>
  <a href='https://github.com/jmeas/gistbook' target='_blank'>
    <button>
      View the Github Repository
    </button>
  </a>
</div>
