.edit-title-view
  color $lightTextColor
  font-weight 200
  
  a
    color $lightTextColor
    text-decoration underline

  button
    padding 4px 7px
    font-size 13px

    &:hover
      padding 3px 6px

  input
    padding 4px 7px
    width 400px
    font-size 13px
    border-radius 3px
    border 1px solid #ccc
