<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Gistbook</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel='stylesheet' href='/style.css'>
  {{> semantic-ui-css }}
  {{> livereload-config }}
</head>
<body>
  {{{ body }}}
  {{> initial-data }}
  {{> mathjax-config }}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js'></script>
  <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js'></script>
  <script src='/script.js'></script>
  {{> google-analytics }}
</body>
</html>
