.boxed-group
  width 100%
  margin 0 auto

  .boxed-group-header
    border-bottom 1px solid $borderColor
    height 45px
    font-size 16px
    line-height 45px
    background $lightBackground
    color $darkTextColor
    font-weight bold
    padding 0 10px
    border-radius 3px 3px 0 0

  .boxed-group-body
    color $mediumTextColor
    
    p
      margin 0 10px 13px

      &:first-child
        margin-top 15px

      &:last-child
        margin 0

    button
      margin-left 10px

    ul.bullet
      list-style-type disc
      margin-left 30px

      li
        color $textColor
        font-weight bold
