.boxed-group
  width 100%
  background #fff
  margin 0 auto
  border-radius 3px
  mediumShadow()

  .boxed-group-header
    background #9699bc
    border-bottom 1px solid #747796
    height 55px
    font-size 16px
    line-height 55px
    font-weight 200
    color #fff
    font-size 19px
    padding 0 30px
    border-radius 3px 3px 0 0

  .boxed-group-body
    color $mediumTextColor
    padding 10px 20px 20px
    
    p
      margin 0 10px 13px

      &:first-child
        margin-top 15px

      &:last-child
        margin 0

    button
      margin-left 10px

    ul.bullet
      list-style-type disc
      margin-left 30px

      li
        color $textColor
        font-weight bold
