/*
 * Cursor
 * Better default cursors
 *
 */

html,
body,
button[disabled], 
input[disabled]
  cursor default
 
code
  cursor text
 
a,
label,
button, 
input[type="radio"], 
input[type="submit"], 
input[type="checkbox"]
  cursor pointer
