header
  margin-bottom 35px
  smallShadow()

  h1
    font-size 21px
    font-weight bold

    .octicon
      font-size 24px
    
    a:hover
      color $textColor

    .pre-release
      font-size 14px
      color $betaBlue
