.notification
  border 1px solid #ddd
  background #f4f4f4
  padding 10px
  border-radius 3px
  color $mediumTextColor

  &.notification-info
    color $stateInfoText
    border-color $stateInfoBorder
    background $stateInfoBg

  &.notification-danger
    color $stateDangerText
    border-color $stateDangerBorder
    background $stateDangerBg

  &.notification-success
    color $stateSuccessText
    border-color $stateSuccessBorder
    background $stateSuccessBg

  &.notification-warning
    color $stateWarningText
    border-color $stateWarningBorder
    background $stateWarningBg
