html
  font-size   14px
  line-height 1.3em
  font-family Helvetica, Arial, sans-serif
  color #333

// More often than not I *don't* want 
// my links to be blue and underlined
a
  color $textColor
  text-decoration none

  &:hover
    color $hoverLinkColor

b, em
  font-weight bold
