$appWidth = 940px

$borderColor = #e5e5e5
$lightBackground = #f6f6f6

$lightTextColor = #aaa
$darkTextColor = #333
$mediumTextColor = #666
$textColor = #000

$hoverLinkColor = #4183c4

$danger = #900
