$appWidth = 800px

$tan = #e8e5df;
$darkGrey = #c8c8c8;

$borderColor = #e5e5e5
$lightBorderColor = #f4f4f4
$lightBackground = #f6f6f6

$veryLightTextColor = #ccc
$lightTextColor = #aaa
$darkTextColor = #333
$mediumTextColor = #666
$textColor = #000
$betaBlue = #5597d0

$hoverLinkColor = #4183c4

$purple = #b086bb
$teal = #77acc0
$danger = #a65d5d
$darkBlue = #686c96

$stateSuccessText = #3c763d
$stateSuccessBg = #dff0d8
$stateSuccessBorder = darken(spin($stateSuccessBg, -10deg), 5%)

$stateInfoText = #31708f
$stateInfoBg = #d9edf7
$stateInfoBorder = darken(spin($stateInfoBg, -10deg), 7%)

$stateWarningText = #8a6d3b
$stateWarningBg = #fcf8e3
$stateWarningBorder = darken(spin($stateWarningBg, -10deg), 5%)

$stateDangerText = #a94442
$stateDangerBg = #f2dede
$stateDangerBorder = darken(spin($stateDangerBg, -10deg), 5%)
