$appWidth = 800px

$borderColor = #e5e5e5
$lightBackground = #f6f6f6

$lightTextColor = #aaa
$darkTextColor = #333
$mediumTextColor = #666
$textColor = #000

$hoverLinkColor = #4183c4

$danger = #900

$stateSuccessText =            #3c763d
$stateSuccessBg =              #dff0d8
$stateSuccessBorder =          darken(spin($stateSuccessBg, -10deg), 5%)

$stateInfoText =               #31708f
$stateInfoBg =                 #d9edf7
$stateInfoBorder =             darken(spin($stateInfoBg, -10deg), 7%)

$stateWarningText =            #8a6d3b
$stateWarningBg =              #fcf8e3
$stateWarningBorder =          darken(spin($stateWarningBg, -10deg), 5%)

$stateDangerText =             #a94442
$stateDangerBg =               #f2dede
$stateDangerBorder =           darken(spin($stateDangerBg, -10deg), 5%)
