.menu nav
  > ul
    list-style none
    display flex

  .menu-icon
    cursor pointer
    color $mediumTextColor

  > ul > li
    position relative
    margin-right 3px
    
    a
      display inline

    &:last-child
      margin-right 0

    .octicon-triangle-down
      color #aaa
      padding 3px
      cursor pointer

      &:hover,
      &.active
        color #333

  .new-button
    margin-right 30px

  .profile-link

    a
      font-weight bold

    img
      width 28px
      height 28px
      border-radius 14px
      vertical-align middle
      margin-right 2px

  .dropdown-mask
    display none
    z-index 19000
    position fixed
    height 100%
    width 100%
    left 0
    top 0

    &.show
      display block

  .dropdown-menu
    display none
    z-index 20000
    background #fff
    border-radius 3px
    position absolute
    bottom -80px
    right 0px
    border 1px solid $borderColor
    width 170px
    padding 5px 0
    box-shadow 1px 2px 3px rgba(0, 0, 0, .15);

    &.show
      display block

    li
      height 40px
      line-height 40px
      display block

      &:hover
        background $lightBackground

      a
        color #333
        box-sizing border-box
        padding-left 15px
        display block
        height 100%
        width 100%
        line-height 40px

