.display-title-view
  font-size 14px
  color #fff
  
  h1
    font-size 19px
    font-weight 200
    cursor default
    display inline-block
    max-width 540px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    vertical-align bottom

  .gistbook-edit-text
    font-size 15px
    display none
    position relative
    font-weight 500
    top -2px
  
  .gistbook-title-edit, .separator
    color #4f568d
    text-decoration none

  &.editable .gistbook-edit-text
    display inline-block
  
