.display-title-view
  font-size 14px
  color $mediumTextColor
  
  h1
    font-size 17px
    font-weight 200
    cursor default
    text-shadow 0 1px #fff
    display inline-block
    max-width 540px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    vertical-align bottom

  .gistbook-edit-text
    display none
    position relative
    font-weight 200
    top -2px
  
  .gistbook-title-edit, .separator
    color #aaa
    text-decoration none

  &.editable .gistbook-edit-text
    display inline-block
  
