<span class='copyright'>
  © Gistbook 2014
</span>
<ul class='footer-nav'>
  <li><a href='/terms'>Terms</a></li>
  <li><a href='/about'>About</a></li>
  <li><a href='mailto:hello@gistbook.io'>Contact</a></li>
</ul>
