.edit-title-view
  color #4f568d
  font-weight 200
  
  a
    color #4f568d
    text-decoration underline

  button
    font-size 13px

  input
    color #fff
    font-weight 200
    background transparent
    padding 4px 7px
    width 400px
    font-size 19px
    border-radius 3px
    border 1px solid $darkBlue
  
    &:focus
      outline 0
