<div class='gistbook-add-row'>  
  <i class='octicon octicon-plus'></i>
  <ul class='add-section-menu'>
    <li><a href='' class='gistbook-add-text'>Add Text</a></li>
    <li><a href='' class='gistbook-add-html'>Add HTML</a></li>
    <li><a href='' class='gistbook-add-css'>Add CSS</a></li>
    <li><a href='' class='gistbook-add-js'>Add Javascript</a></li>
  </ul>
</div>
<div class='gistblock-wrapper'></div>
