<div class='gistbook-output-title'>
  <span>Output</span>
  <div class='spinner-container'></div>
  <button class='blue'>
    <span class='octicon octicon-playback-play'></span>
    Run
  </button>
</div>
<div class='gistbook-output-container'>
  <div class='notice'>Click <b>Run</b> to execute this Gistbook's code.</div>
</div>
