.gistbook
  border 1px solid #ccc
  border-radius 3px
  width   800px
  margin  0 auto
  line-height 1.6

  a i
    text-decoration none

  .gistbook-body
    margin-bottom 20px

.gistbook-output-wrapper
  border-top 1px solid #ddd
  padding 5px
  position relative
  background $lightBackground

  .gistbook-output
    background #fff

  .gistbook-output-title
    padding 10px
    display flex
    align-items center

    > span
      flex 1
      font-weight bold
      color #aaa
      letter-spacing 1px
      text-transform uppercase
      font-size 13px

    button
      align-self flex-end
