<ul class='gistbook-body'>Body</ul>
<div class='gistbook-output-wrapper'>
  <div class='gistbook-output'>
    <div class='gistbook-output-title'>
      <span>Output</span>
      <button>
        <span class="octicon octicon-playback-play"></span>
        Run
      </button>
    </div>
    <div class='gistbook-output-container'></div>
  </div>
</div>
