.contact-us
  width 75%
  
  h1, h2
    color #333

  h1
    font-size 20px
    font-weight 200
    margin-bottom 15px
  
  h2
    font-size 15px
    font-weight bold
    margin 0 0 8px

  p
    font-size 13px
    margin-bottom 10px
    
  a
    color #4183c4
    
    &:hover
      text-decoration underline

  .contact-github-issues,
  .contact-email
    display flex
    border-style solid
    border-color #c3c3c3
    padding 20px
    
    > div:first-child
      margin-right 20px
      display flex
      align-items center
      justify-content center
      
  .contact-github-issues
    border-width 1px
    border-radius 3px 3px 0 0
  
  .contact-email
    border-width 0 1px 1px 1px
    border-radius 0 0 3px 3px
